.header {
  position: fixed;
  width: 100%;
  height: 5rem;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8a2b06;
  z-index: 777;
}

.container {
  width: 80%;
  margin: auto;
}

.head-in {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 25px;
  border-radius: 30px;
  background-color: #4d1601;
  width: 240px;
  cursor: pointer;
  transition: all .4s ease;
}

.card-button:hover {
  background-color: #3f1201;

}

.quantity {
  width: 40px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b94517;
  border-radius: 20px;
  margin-left: 10px;
  font-weight: 600;
}

.bxs-cart-alt {
  margin-right: 10px;
  font-size: 24px;
}